<%= form_for(@nutrition_datum) do |f| %>
    <% if @nutrition_datum.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@nutrition_datum.errors.count, "error") %> prohibited this nutrition_datum from being
            saved:</h2>

          <ul>
            <% @nutrition_datum.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
